<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<dom-module id="manage-country">
    <style include="iron-flex iron-flex-alignment gl-color gl-size">
        * {
            font-family: 'CSChatThaiUI', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: var(--font-size-h5);
            text-align: left;
        }
        .text-center {
            text-align: center;
            font-size: var(--font-size-h3);
            background-color: var(--paper-grey-100);
            margin-top: 20px;
        }
        .margin-top {
            margin-top: 15px;
        }
        .button {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        icon-button-management{
            margin: 10px 10px;
        }
    </style>
    <template>
        <div class="text-center">{{title}}ประเทศ</div>
         <template is="dom-if" if={{_checkStatus(statusAction)}}>
            <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
        </template>
        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-combo-box class=" required" required  items="{{continents}}" item-label-path="continent_name_en" label="Continent (ทวีป)" item-value-path="continent_id"
                    value="{{data.continent_id}}" error-message="กรุณาเลือกประเทศ" required disabled="[[btnState]]"></gl-combo-box>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกรหัสประเทศ" required label="Country Code (รหัสประเทศ) :"
                    placeholder="ใส่รหัสประเทศ" value="{{data.country_id}}" disabled="[[_checkStatus(statusAction)]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกชื่อประเทศ" required label="Country name (ชื่อประเทศภาษาไทย) :"
                    placeholder="กรอกชื่อประเทศ" value="{{data.country_name_th}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกชื่อเต็มประเทศ" required label="Country fullname (ชื่อเต็มประเทศภาษาไทย) :"
                    placeholder="กรอกชื่อประเทศ" value="{{data.country_fullname_th}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกชื่อประเทศ" required label="Country name (ชื่อประเทศภาษาอังกฤษ) :"
                    placeholder="กรอกชื่อประเทศ" value="{{data.country_name_en}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกชื่อเต็มประเทศ" required label="Country fullname (ชื่อเต็มประเทศภาษาอังกฤษ) :"
                    placeholder="กรอกชื่อประเทศ" value="{{data.country_fullname_en}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <div class="horizontal end-justified layout">
            <div class="button">
                <paper-button raised on-tap="_cancel" hidden="{{btnState}}">คืนค่าข้อมูล</paper-button>
                <paper-button class="gl-btn-success" raised on-tap="_save" hidden="{{btnState}}">บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "manage-country",
            properties: {
                data: {
                    statePath: 'country.data'
                },
                continents: {
                    statePath: 'continent.list'
                },
                btnState:{
                    statePath: 'commonState.btnState'
                }
            },
            behaviors: [nylonBehavior, ReduxBehavior,ValidateFormBehavior],
            _save: function () {
                if(this.validateForm('.required')){
                    if (this.statusAction == 'edit') {
                        this.dispatchAction('COUNTRY_EDIT', this.data);
                    }
                    else {
                        this.dispatchAction('COUNTRY_INSERT', this.data);
                    }
                }
            },
            _cancel: function () {
                if (this.statusAction == 'edit') {
                    this.dispatchAction('COUNTRY_GET_ID', this.data.country_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                }
            },
            _checkStatus: function (val) {
                if (val != 'add') {
                    return true
                }
            }
        });
    </script>
</dom-module>