<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="./../../bower_components/gl-styles/gl-color.html">
<link rel="import" href="./../../bower_components/gl-styles/gl-size.html">
<dom-module id="page-style">
    <template>
        <style include="gl-size gl-color">
            .header {
                font-size: 32px;
                padding-top: 20px;
                padding-bottom: 10px;
            }

            .subHeader {
                font-size: 20px;
            }

            .title {
                font-size: 22px;
                font-weight: bold;
            }

            .section {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .material {
                background-color: #EFEFEF;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            main {
                /*min-width: 320px;*/
                /*max-width: 1000px;*/
                padding: 5px;
                margin: 0 auto;
            }

            section {
                display: none;
                /*padding: 20px 0 0;*/
                border-top: 1px solid #ddd;
            }

            input {
                display: none;
            }

            label {
                display: inline-block;
                margin: 0 0 -1px;
                padding: 15px 25px;
                font-weight: 600;
                text-align: center;
                color: #bbb;
                border: 1px solid transparent;
                background: #D5D8DC;
            }

            label:before {
                font-family: fontawesome;
                font-weight: normal;
                margin-right: 10px;
            }
            /*label[for*='1']:before { content: '\f1cb'; }
            label[for*='2']:before { content: '\f17d'; }*/

            label:hover {
                color: #888;
                cursor: pointer;
            }

            input:checked+label {
                color: #555;
                border: 1px solid #ddd;
                border-top: 3px solid orange;
                border-bottom: 1px solid #fff;
                background: #fff;
            }

            vaadin-grid#material {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));
                --vaadin-grid-cell: {
                    padding: 0;
                }
                ;
                --vaadin-grid-header-cell: {
                    min-height: 64px;
                    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
                    font-size: 16px;
                    font-weight: bold;
                    background-color: #F1F1F1;
                    padding:5px 5px;
                    /*border-bottom: 1px solid red;*/
                    /*border: 0.5px solid rgba(0, 0, 0, var(--dark-secondary-opacity));*/
                }
                ;
                --vaadin-grid-body-cell: {
                    min-height: 48px;
                    color: rgba(0, 0, 0, var(--dark-primary-opacity));
                    word-warp font-size: 17px;
                }
                ;
                --vaadin-grid-footer-cell: {
                    min-height: 64px;
                    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
                    font-size: 16px;
                    font-weight: bold;
                }
                ;
                --vaadin-grid-body-row-hover-cell: {
                    background-color: var(--paper-grey-200);
                }
                ;
                --vaadin-grid-body-row-selected-cell: {
                    background-color: var(--paper-grey-100);
                }
                ;
                --vaadin-grid-focused-cell: {
                    box-shadow: none;
                    font-weight: bold;
                }
                ;
            }

            vaadin-grid#material .text-left {
                text-align: left;
                padding-right: 10px;
            }

            vaadin-grid#material .text-center {
                text-align: center;
            }

            vaadin-grid#material .text-right {
                text-align: right;
                padding-right: 10px;
            }



            vaadin-grid#material .cursor {
                cursor: pointer
            }

            .center {
                text-align: center;
            }

            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: var(--font-size-h5);
            }

            .button-top {
                margin: 20px;
            }

            .text-center {
                text-align: center;
            }

            .text-head {
                text-align: center;
                padding: 10px 0px 10px 10px;
                background-color: var(--paper-grey-100);
                color: var(--paper-grey-600);
                font-size: var(--font-size-h3);
                /*font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;*/
            }

            .elevation {
                border-radius: 5px;
                margin: 10px;
                padding: 5px;
                background-color: white;
            }

            .labelSearch {
                font-size: var(--font-size-h5);
                margin: 10px 10px 10px 10px;
            }

            .no-data {
                margin: 15px;
            }

            .img-center {
                display: block;
                margin: 0 auto;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>