<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<dom-module id="manage-carrier">
    <style include="iron-flex iron-flex-alignment gl-color gl-size">
        * {
            font-family: 'CSChatThaiUI', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: var(--font-size-h5);
            text-align: left;
        }
        
        .text-center {
            text-align: center;
            font-size: var(--font-size-h3);
            background-color: var(--paper-grey-100);
            margin-top: 20px;
        }
        
        .margin-top {
            margin-top: 15px;
        }
        
        .button {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <template>
        <div class="text-center">ข้อมูลผู้ให้บริการเรือ</div>
<template is="dom-if" if={{_checkStatus(data.carrier_id)}}>
            <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
        </template>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
        <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกชื่อผู้ให้บริการเรือ" required label="Carrier Name (ชื่อผู้ให้บริการเรือ) :" placeholder="กรอกชื่อผู้ให้บริการ" value="{{data.carrier_name}}" disabled="[[btnState]]"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

        <div class="horizontal end-justified layout">
            <div class="button">
                <paper-button raised on-tap="_cancel" hidden="{{btnState}}">คืนค่าข้อมูล</paper-button>
                <paper-button class="gl-btn-success" raised on-tap="_save" hidden="{{btnState}}">บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "manage-carrier",
            properties: {
                data: {
                    statePath: 'carrier.data'
                },
                btnState:{
                    statePath: 'commonState.btnState'
                }
            },
            behaviors: [nylonBehavior, ReduxBehavior,ValidateFormBehavior],
            _save: function () {
                if(this.validateForm('.required')){
                if (this.data.carrier_id != null) {
                    this.dispatchAction('CARRIER_EDIT', this.data);
                }
                else {
                    this.dispatchAction('CARRIER_INSERT', this.data);
                }
                }
            },
            _cancel: function () {
                if (this.data.carrier_id != null) {
                    this.dispatchAction('CARRIER_GET_ID', this.data.carrier_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                }
            },
            _checkStatus: function (val) {
                if (typeof val != 'undefined' && val != undefined) {
                    return true
                }
            }
        });
    </script>
</dom-module>