<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">

<link rel="import" href="./tag-dropdown.html">

<link rel="import" href="../../../redux-behavior.html">

<link rel="import" href="../../../dispatchAction-behavior.html">

<link rel="import" href="../../../nylon-behavior.html">

<link rel="import" href="../../../layout/page-style.html">

<dom-module id="manage-group">
    <template>
        <style include="page-style iron-flex iron-flex-factors iron-flex-alignment gl-table page-style">
            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: var(--font-size-h5);
                text-align: left;
            }

            .text-center {
                text-align: center;
                font-size: var(--font-size-h3);
                background-color: var(--paper-grey-100);
                margin-top: 20px;
            }

            paper-dropdown-menu,
            paper-listbox,
            paper-item {
                width: 100%;
            }
        </style>
        <div class="text-center">{{title}}กลุ่ม</div>
        <template is="dom-if" if={{_checkStatus(statusAction)}}>
            <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
        </template>
        <!--{{statusAction}}///[[_checkStatus(statusAction)]]-->
        <template is="dom-if" if={{_checkStatus(statusAction)}}>
            <div class="horizontal start-justified layout">
                <div class="flex"></div>
                <div class="flex flex-padding">
                    <gl-form-input class="margin-top  " label="URL :" placeholder="URL" value="[[url]][[data.group_id]]" read-only></gl-form-input>
                </div>
                <div class="flex"></div>
            </div>
            <!--<gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                    <gl-form-input class="margin-top  " label="URL :" placeholder="URL" value="[[url]][[data.group_id]]" read-only></gl-form-input>
                </gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            </gl-grid-row>-->
        </template>

        <div class="horizontal start-justified layout">
            <div class="flex"></div>
            <div class="flex flex-padding">
                <gl-form-input class="margin-top  required" required error-message="ชื่อกลุ่ม (ไทย)" label="ชื่อกลุ่ม (ไทย) :" placeholder="ชื่อกลุ่ม (ไทย)"
                    value="{{data.group_name_th}}" disabled="[[btnState]]"></gl-form-input>
            </div>
            <div class="flex"></div>
        </div>

        <div class="horizontal start-justified layout">
            <div class="flex"></div>
            <div class="flex flex-padding">
                <gl-form-input class="margin-top  required" required error-message="ชื่อกลุ่ม (อังกฤษ)" label="ชื่อกลุ่ม (อังกฤษ) :" placeholder="ชื่อกลุ่ม (อังกฤษ)"
                    value="{{data.group_name_en}}" disabled="[[btnState]]"></gl-form-input>
            </div>
            <div class="flex"></div>
        </div>

        <div class="horizontal start-justified layout">
            <div class="flex"></div>
            <div class="flex flex-padding">
                <paper-dropdown-menu label="ตาราง" placeholder="ตาราง" disabled="[[btnState]]" on-value-changed="test">
                    <paper-listbox attr-for-selected="value" selected="{{data.table_name}}" slot="dropdown-content" class="dropdown-content">
                        <template is="dom-repeat" items={{keydata}}>
                            <paper-item value="[[item.table]]">[[item.table]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
            </div>
            <div class="flex"></div>
        </div>

        <div class="horizontal start-justified layout">
            <div class="flex"></div>
            <div class="flex flex-padding">
                <tag-dropdown id="tagValue" label="ชื่อที่ต้องการแสดง" items="{{field}}" value="{{data}}" disabled="[[btnState]]"></tag-dropdown>
            </div>
            <div class="flex"></div>
        </div>

        <!--<gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <gl-form-input class="margin-top  required" required error-message="ชื่อกลุ่ม (ไทย)" label="ชื่อกลุ่ม (ไทย) :" placeholder="ชื่อกลุ่ม (ไทย)"
                    value="{{data.group_name_th}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
        </gl-grid-row>-->

        <!--<gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <gl-form-input class="margin-top  required" required error-message="ชื่อกลุ่ม (อังกฤษ)" label="ชื่อกลุ่ม (อังกฤษ) :" placeholder="ชื่อกลุ่ม (อังกฤษ)"
                    value="{{data.group_name_en}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
        </gl-grid-row>-->

        <!--<gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <paper-dropdown-menu label="ตาราง" placeholder="ตาราง" disabled="[[btnState]]" on-value-changed="test">
                    <paper-listbox attr-for-selected="value" selected="{{data.table_name}}" slot="dropdown-content" class="dropdown-content">
                        <template is="dom-repeat" items={{keydata}}>
                            <paper-item value="[[item.table]]">[[item.table]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>

        </gl-grid-row>-->
        <!--<gl-grid-row>-->
        {{getKey(data.table_name)}}
        <!--<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <gl-combo-box id="sub-item" label="ฟิลด์รหัส" placeholder="ฟิลด์รหัส" disabled="[[btnState]]" item-label-path="id" item-value-path="id"
                    items="{{field}}" value="{{data.field_id}}">
                    <template>
                        [[item.id]]
                    </template>
                </gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>

        </gl-grid-row>-->

        <!--<gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <tag-dropdown id="tagValue" label="ชื่อที่ต้องการแสดง" items="{{field}}" value="{{data}}" disabled="[[btnState]]"></tag-dropdown>
                <nylon-tag-dropdown id="tagValue" label="ชื่อที่ต้องการแสดง" items="{{field}}"></nylon-tag-dropdown>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>

        </gl-grid-row>-->

        <div class="horizontal end-justified layout">
            <div class="button">
                <paper-button raised on-tap="_cancel" hidden="{{btnState}}">คืนค่าข้อมูล</paper-button>
                <paper-button class="gl-btn-success" raised on-tap="_save" hidden="{{btnState}}">บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'manage-group',
            behaviors: [nylonBehavior, ReduxBehavior, ValidateFormBehavior],
            properties: {
                data: {
                    statePath: 'group.data',
                },
                btnState: {
                    statePath: 'commonState.btnState'
                },
                url: {
                    type: Object,
                    value: function () {
                        return `${window.location.protocol}//${window.location.hostname}:${window.location.port}/api/groupItem?group_id=`
                    }
                },
                keydata: {
                    statePath: 'group.listtable',
                },
                field: {
                    type: Array,
                    value: []
                }
            },
            _save: function () {
                // console.log(this.data);
                // console.log(this.$$('#tagValue').value);
                // let name = this.$$('#tagValue').value.map((name)=> name.id)
                // console.log(name);
                // this.data.name = this.$$('#tagValue').value
                // console.log(this.data);
                if (this.validateForm('.required')) {
                    if (this.statusAction == 'edit') {
                        // console.log(this.data);
                        this.dispatchAction('GROUP_EDIT', this.data);
                    }
                    else {
                        // console.log(this.data);
                        this.dispatchAction('GROUP_INSERT', this.data);
                    }
                }
            },
            _checkStatus: function (val) {
                // console.log();
                if (val != 'add') {
                    return true
                }
            },
            getKey: function (table) {
                // console.log(window.location.hostname)
                // console.log(table);
                // this.async(() => {
                if (table !== '' && table !== undefined) {
                    let data = this.keydata.find((id) => id.table === table)
                    // console.log(data);
                    // console.log(this.keydata);
                    this.set('field', data.sub)
                    // console.log(this.field);
                    // this.$$('#sub-item').value = ''
                } else {
                    // this.$$('#sub-item').value = ''
                }
                // }, 500);

            },
            _cancel: function () {
                if (this.statusAction == 'edit') {
                    this.dispatchAction('HAMONIZE_GET_ID', this.group_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                }
            },
            test(e) {
                try {

                    if (e.detail.value === '' || e.detail.value === undefined)
                        this.$$('#sub-item').value = ''
                } catch (e) {
                    // console.log(e);
                }
            }
        });
    </script>
</dom-module>