<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">

<dom-module id="manage-continent">
    <style include="iron-flex iron-flex-alignment gl-color gl-size">
        * {
            font-family: 'CSChatThaiUI', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: var(--font-size-h5);
            text-align: left;
        }
        
        .text-center {
            text-align: center;
            font-size: var(--font-size-h3);
            background-color: var(--paper-grey-100);
            margin-top: 20px;
        }
        
        .margin-top {
            margin-top: 15px;
        }
        
        .button {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <template>
        <div class="text-center">เพิ่มข้อมูลทวีป</div>
        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top checkData" error-message="กรุณากรอกรหัสทวีป" required label="Country Code (รหัสประเทศ) :"
                    placeholder="ใส่รหัสประเทศ" value="{{data.continent_id}}" disabled="{{_obData(data.creater)}}"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อทวีป" required label="Country name (ชื่อประเทศภาษาไทย) :"
                    placeholder="กรอกชื่อประเทศ" value="{{data.continent_name_th}}"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อทวีป" required label="Country name (ชื่อประเทศภาษาอังกฤษ) :"
                    placeholder="กรอกชื่อประเทศ" value="{{data.continent_name_en}}"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <div class="horizontal end-justified layout">
            <div class="button">
                <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
                <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "manage-continent",
            properties: {
                data: {
                    statePath: 'continent.data'
                }
            },
            behaviors: [nylonBehavior, ReduxBehavior],
            _save: function () {
                if (this.data.creater == 'admin') {
                    this.dispatchAction('CONTINENT_EDIT', this.data);
                }
                else {
                    this.dispatchAction('CONTINENT_INSERT', this.data);
                }
            },
            _cancel: function () {
                if (this.data.creater == 'admin') {
                    this.dispatchAction('CONTINENT_GET_ID', this.data.continent_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                }
            },
            _obData: function(val){
                if(typeof val != 'undefined' && val != undefined){
                    return true
                }
            }
        });
    </script>
</dom-module>