<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<dom-module id="manage-shipline">
    <style include="iron-flex iron-flex-alignment gl-color gl-size">
       *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: var(--font-size-h5);
      text-align: left;
    }
    .text-center {
      text-align: center;
      font-size: var(--font-size-h3);
      background-color: var(--paper-grey-100);
      margin-top: 20px;
    }
    .margin-top{
      margin-top: 15px;
    }
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    icon-button-management{
            margin: 10px 10px;
        }
    </style>
    <template>
       <div class="text-center">{{title}}สายเรือ</div>
       <template is="dom-if" if={{_checkStatus(statusAction)}}>
            <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
        </template>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกชื่อสายเรือ" disabled="[[btnState]]" required label="Shipline Name (ชื่อสายเรือ) :" placeholder="กรอกชื่อสายเรือ" value="{{data.shipline_name}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top  required" required  error-message="กรุณากรอกเบอร์โทรศัพท์" disabled="[[btnState]]" required label="Tel. (เบอร์โทรศัพท์) :" placeholder="กรอกชื่อเบอร์โทรศัพท์" value="{{data.shipline_tel}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn" raised on-tap="_cancel" hidden="{{btnState}}">คืนค่าข้อมูล</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_save" hidden="{{btnState}}">บันทึก</paper-button>
      </div>
    </div>
    </template>
    <script>
        Polymer({
            is: "manage-shipline",
            properties: {
                data: {
                    statePath: 'shipline.data'
                },
                btnState:{
                    statePath: 'commonState.btnState'
                }
            },
            behaviors: [nylonBehavior, ReduxBehavior,ValidateFormBehavior],
            _save: function () {
                if(this.validateForm('.required')){
                    if (typeof this.data.shipline_id !== 'undefined') {
                        this.dispatchAction('SHIPLINE_EDIT', this.data);
                    }
                    else {
                        this.dispatchAction('SHIPLINE_INSERT', this.data);
                    }
                }
            },
            _cancel: function () {
                if (typeof this.data.shipline_id !== 'undefined') {
                    this.dispatchAction('SHIPLINE_GET_ID', this.data.shipline_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                }
            },
            _checkStatus: function (val) {
                if (val != 'add') {
                    return true
                }
            }
        });
    </script>
</dom-module>