<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-textarea.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">

<dom-module id="manage-buyer">
    <style include="iron-flex iron-flex-alignment gl-color gl-size">
        * {
            font-family: 'CSChatThaiUI', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: var(--font-size-h5);
            text-align: left;
        }
        
        .text-center {
            text-align: center;
            font-size: var(--font-size-h3);
            background-color: var(--paper-grey-100);
            margin-top: 20px;
        }
        
        .margin-top {
            margin-top: 15px;
        }
        
        .button {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        icon-button-management{
            margin: 10px 10px;
        }
    </style>
    <template>
        <div class="text-center">ข้อมูลผู้ซื้อ</div>
        <template is="dom-if" if={{_checkStatus(data.buyer_id)}}>
            <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
        </template>
        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-combo-box class="checkData" items="{{countrys}}" item-label-path="country_name_en" label="Country (ประเทศ)" item-value-path="country_id"
                    value="{{data.country_id}}" error-message="กรุณาเลือกประเทศ" required placeholder="กรุณาเลือกประเทศ"
                    style="margin-top:15px;" disabled="[[btnState]]"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-input class="margin-top checkData" label="Buyer Name (ชื่อผู้ซื้อ) :" placeholder="กรอกชื่อผู้ซื้อ" value="{{data.buyer_name}}"
                    error-message="กรุณากรอกชื่อผู้ซื้อ" required disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-input class="margin-top checkData" label="Buyer Masks (นามแฝง) :" placeholder="กรอกนามแฝง" value="{{data.buyer_masks}}"
                    error-message="กรุณากรอกนามแฝง" required disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-input class="margin-top checkData" label="E-mail :" placeholder="ตัวอย่าง test@gmail.com" value="{{data.buyer_email}}"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" error-message="กรุณาใส่รูปแบบให้ถูกต้อง" required disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-input class="margin-top checkData" label="Fax :" placeholder="กรอกเบอร์แฟกซ์" value="{{data.buyer_fax}}" error-message="กรุณากรอกเบอร์แฟกซ์"
                    required disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-input class="margin-top checkData" label="Tel (เบอร์โทรศัพท์) :" placeholder="กรอกเบอร์โทรศัพท์" value="{{data.buyer_tel}}"
                    error-message="กรุณากรอกเบอร์โทรศัพท์" required disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <gl-form-textarea class="margin-top checkData" label="Address (ที่อยู่) :" placeholder="กรอกทีอยู่" value="{{data.buyer_address}}"
                    error-message="กรุณากรอกทีอยู่" required disabled="[[btnState]]"></gl-form-textarea>
            </gl-grid-col>
        </gl-grid-row>

        <div class="horizontal end-justified layout">
            <div class="button">
                <paper-button raised on-tap="_cancel">คืนค่าข้อมูล</paper-button>
                <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "manage-buyer",
            properties: {
                data: {
                    statePath: 'buyer.data'
                },
                countrys:{
                    statePath: 'country.list'
                },
                btnState:{
                    statePath: 'commonState.btnState'
                }
            },
            behaviors: [nylonBehavior, ReduxBehavior],
            _save: function () {
                if (this.data.creater == 'admin') {
                    this.dispatchAction('BUYER_EDIT', this.data);
                }
                else {
                    this.dispatchAction('BUYER_INSERT', this.data);
                }
            },
            _cancel: function () {
                if (this.data.creater == 'admin') {
                    this.dispatchAction('BUYER_GET_ID', this.data.buyer_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                }
            },
            _checkStatus: function (val) {
                if (typeof val != 'undefined' && val != undefined) {
                    return true
                }
            }
        });
    </script>
</dom-module>