<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../nylon-behavior.html">
<link rel="import" href="../../components/page-header.html">
<link rel="import" href="../../components/page-panel.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="fee-list.html">
<link rel="import" href="fee-form.html">

<!--<link rel="import" href="./over-pay.html">-->

<dom-module id="fee-manage">
	<style include="shared-styles"></style>
	<template>
		<div class="content">
			<page-panel label="รายการออกใบเสร็จ">
				<div class="section" style="overflow-x:auto; border:1px solid #ddd;">
					<fee-list></fee-list>
				</div>
			</page-panel>

			<div class="section">
				<page-panel label="ชำระเงิน">
					<div class="section">
						<fee-list></fee-list>
					</div>
					<div class="section">
						<fee-form></fee-form>
					</div>
				</page-panel>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'fee-manage'
		});
	</script>
</dom-module>