<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">

<dom-module id="manage-port">
    <style include="iron-flex iron-flex-alignment gl-color gl-size">
        *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: var(--font-size-h5);
    }
    .text-center {
      text-align: center;
      font-size: var(--font-size-h3);
      background-color: var(--paper-grey-100);
      margin-top: 20px;
    }
    .margin-top{
      margin-top: 15px;
    }
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    </style>
    <template>
     <div class="text-center">เพิ่มข้อมูลท่าเรือ</div>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกเลขประจำตัวท่าเรือ" required label="Port ID (เลขประจำตัวท่าเรือ) :" placeholder="กรอกรหัสท่าเรือ" value="{{data.port_id}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกรหัสท่าเรือ" required label="Port Code (รหัสท่าเรือ) :" placeholder="port_code" value="{{data.port_code}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อท่าเรือ" required label="Port Name (ชื่อท่าเรือ) :" placeholder="กรอกชื่อท่าเรือ" value="{{data.port_name}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="margin-top checkData" error-message="กรุณาเลือกประเทศ" required style="margin-top:15px" items="{{countrys}}" label="Country (ประเทศ)" item-label-path="country_name_en"
            item-value-path="country_id" value="{{data.country_id}}"></gl-combo-box>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </div>
    </template>
    <script>
        Polymer({
            is: "manage-port",
            properties: {
                data: {
                    statePath: 'buyer.data'
                }
            },
            behaviors: [nylonBehavior, ReduxBehavior],
            _save: function () {
                if (this.data.creater == 'admin') {
                    this.dispatchAction('BUYER_EDIT', this.data);
                }
                else {
                    this.dispatchAction('BUYER_INSERT', this.data);
                }
            },
            _cancel: function () {
                if (this.data.creater == 'admin') {
                    this.dispatchAction('BUYER_GET_ID', this.data.id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                }
            },
            _checkStatus: function (val) {
                if (typeof val != 'undefined' && val != undefined) {
                    return true
                }
            }
        });
    </script>
</dom-module>