<link rel="import" href="./../../../../bower_components/gl-styles/gl-color.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-styles/gl-table.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<dom-module id="country-group-manage">
    <template>
        <style include="iron-flex iron-flex-alignment gl-color gl-color gl-table">
            * {
                text-align: left;
            }
            .text-center {
            text-align: center;
            font-size: var(--font-size-h3);
            background-color: var(--paper-grey-100);
            margin-top: 20px;
        }
            .question {
                margin-top: 8px;
                text-align: right;
                font-size: 20px;
            }
            
            paper-radio-button {
                --paper-radio-button-size: 22px;
            }
            
            gl-form-input {
                --paper-input-container-label: {
                    font-size: 12px;
                    font-weight: normal;
                }
            }
            
            .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
            
            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
            }
            
            .flexchild {
                @apply(--layout-flex);
            }
            
            .flex2child {
                @apply(--layout-flex-2);
            }
            
            .flex3child {
                @apply(--layout-flex-3);
            }
            
            .flex4child {
                @apply(--layout-flex-4);
            }
            
            .hideBorder {
                border-bottom: 2px solid white;
            }
            
            icon-button-management {
                margin: 10px 10px;
            }
            .container{
                margin: 10px;
            }
        </style>
        <div class="container">
            <div class="text-center">{{title}}กลุ่มประเทศ</div>
            <template is="dom-if" if={{_checkStatus(statusAction)}}>
                <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
            </template>
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th style="width:30%;text-align: right; font-size: 18px;">Name:</th>
                        <th style="width:50%">
                            <gl-form-input no-label-float value="{{data.id}}" class=" required" required  disabled="[[_checkStatus(statusAction)]]"></gl-form-input>
                        </th>
                        <th style="width:20%"></th>
                    </tr>
                </thead>
            </table>
            <table class="gl-table-default" hidden="[[btnState]]">
                <thead>
                    <tr>
                        <th style="width:30%;text-align: right; font-size: 18px;">Country:</th>
                        <th style="width:50%">
                            <gl-combo-box always-float-label placeholder="เลือกประเทศ"  items="{{countryList}}" value="{{countrySelect}}" item-value-path="id"
                                item-label-path="country_name_th"></gl-combo-box>
                        </th>
                        <th style="width:20%">
                            <paper-button class="gl-btn-primary" on-tap="addCountry" raised hidden="[[btnState]]">เพิ่ม</paper-button>
                        </th>
                    </tr>
                </thead>
            </table>
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[data.country]]">
                        <tr>
                            <td>[[toIndex(index)]]</td>
                            <td>[[item.country_name_th]]</td>
                            <td>
                                <paper-button class="gl-btn-warning" on-tap="delCountry" item="[[item]]" raised hidden="[[btnState]]">ลบ</paper-button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="layout horizontal end-justified" style="padding:15px;">
                <!--<template is="dom-if" if="[[data.id]]">
                    <paper-button class="gl-btn-danger" on-tap="delSelect">Delete</paper-button>
                </template>-->
                <paper-button class="gl-btn-success" on-tap="saveSelect" raised hidden="[[btnState]]">บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'country-group-manage',
            behaviors: [ReduxBehavior,ValidateFormBehavior],
            properties: {
                data: {
                    statePath: 'countryGroup.select'
                },
                countryList: {
                    statePath: 'countryGroup.country'
                },
                countrySelect: {
                    type: Object
                },
                btnState: {
                    statePath: 'commonState.btnState'
                }
            },
            toIndex: function (index) {
                return index + 1
            },
            addCountry: function (e) {
                var c = this.countrySelect;
                var item = this.countryList.find((f) => f.id == c);
                var index = this.countryList.indexOf(item);
                if (item) {
                    // if (!this.select.hasOwnProperty('country')) {
                    //     this.select['country'] = [];
                    // }
                    this.push('data.country', item);
                    this.splice('countryList', index, 1);
                }
                this.countrySelect = "";
            },
            delCountry: function (e) {
                var item = e.currentTarget.item;
                var index = this.data.country.indexOf(item)
                this.splice('data.country', index, 1);
                this.push('countryList', item);
            },
            saveSelect: function () {
                if(this.validateForm('.required')){
                this.data.country = this.data.country.map((sc_map) => sc_map.id);
                if (this.statusAction == "edit") {
                    this.dispatchAction('COUNTRY_GROUP_UPDATE', this.data);
                } else {
                    this.dispatchAction('COUNTRY_GROUP_INSERT', this.data);
                }
                }
            },
            checkDisabled: function (val) {
                if (typeof val != 'undefined' && val != undefined) {
                    if (val == 'admin') {
                        return true
                    }
                    else {
                        return false
                    }
                }
            },
            _checkStatus: function (val) {
                if (val != 'add') {
                    return true
                }
            }
        });
    </script>
</dom-module>