<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="./../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-column.html">

<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/vaadin-gird-filter-common.html">
<dom-module id="manage-group-item">
    <template>
        <style include="iron-flex iron-flex-factors iron-flex-alignment gl-table page-style">
            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: var(--font-size-h5);
                text-align: left;
            }
            /*
            .text-center {
                text-align: center;
                font-size: var(--font-size-h3);
                background-color: var(--paper-grey-100);
                margin-top: 20px;
            }*/

            paper-dropdown-menu,
            paper-listbox,
            paper-item {
                width: 100%;
            }
        </style>
        <div class="text-center">{{title}}กลุ่ม</div>
        <template is="dom-if" if={{_checkStatus(statusAction)}}>
            <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
        </template>
        <!--{{statusAction}}///[[_checkStatus(statusAction)]]-->
        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <gl-form-input class="margin-top  required" required error-message="ชื่อ (ไทย)" label="ชื่อ (ไทย) :" placeholder="ชื่อ (ไทย)"
                    value="{{data.name_th}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
        </gl-grid-row>
        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <gl-form-input class="margin-top  required" required error-message="ชื่อ (อังกฤษ)" label="ชื่อ (อังกฤษ) :" placeholder="ชื่อ(อังกฤษ)"
                    value="{{data.name_en}}" disabled="[[btnState]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <gl-form-input class="margin-top  required" required error-message="Code " label="Code :" placeholder="Code" value="{{data.code}}"
                    disabled="[[btnState]]" on-blur="setLowper"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
                <vaadin-grid aria-label="Dynamic Columns Example" id="material" items="{{dataUse}}">
                    <vaadin-grid-column width="40px" flex-grow="0">
                        <template class="header">
                            <!--checked="[[_isChecked(inverted, indeterminate)]]"-->
                            <paper-checkbox on-tap="selectAll" checked="{{statusCheck}}" disabled="[[btnState]]"></paper-checkbox>
                            <!--<paper-checkbox aria-label="Select All"  on-click="_invert" indeterminate="[[indeterminate]]"></paper-checkbox>-->
                        </template>
                        <template>
                            <!--{{item.check}}-->
                            <paper-checkbox style="padding-left:7px;" checked="{{item.check}}" disabled="[[btnState]]"></paper-checkbox>
                            <!--<paper-checkbox checked="{{checkItem(statusCheck,item.check,item,index)}}" disabled="[[btnState]]"></paper-checkbox>-->
                            <!--<paper-checkbox checked="{{statusCheck}}" disabled="[[btnState]]"></paper-checkbox>-->
                            <!--<paper-checkbox aria-label="Select Row" on-change="_selectItem" checked="[[_isSelected(inverted, selected)]]"></paper-checkbox>-->
                        </template>
                    </vaadin-grid-column>
                    <template is="dom-repeat" items="[[columns]]" as="column">

                        <vaadin-grid-column resizable>
                            <template class="header">[[column]]
                                <vaadin-gird-filter-common aria-label="[[column]]" path="[[column]]" value="[[_name]]">
                                </vaadin-gird-filter-common>
                            </template>
                            <template>[[get(column, item)]]</template>
                        </vaadin-grid-column>
                    </template>

                </vaadin-grid>
                <!--<vaadin-grid aria-label="ข้อมูล" id="material" items="{{dataUse}}" multi-sort="true">

                    <vaadin-grid-column width="50px" flex-grow="0">
                        <template class="header">
                            <paper-checkbox on-tap="selectAll" checked="{{statusCheck}}" disabled="[[btnState]]"></paper-checkbox>
                        </template>
                        <template>
                            <paper-checkbox checked="{{item.check}}" disabled="[[btnState]]"></paper-checkbox>
                        </template>
                    </vaadin-grid-column>

                    <vaadin-grid-column resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="name_th">
                                <div class="text-center">Code</div>
                            </vaadin-grid-sorter>
                            <vaadin-gird-filter-common aria-label="Code" path="sub_code" value="[[_sub_code]]">
                            </vaadin-gird-filter-common>
                        </template>
                        <template>[[item.sub_code]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column resizable>
                        <template class="header">
                            <vaadin-grid-sorter path="name_th">
                                <div class="text-center">Name</div>
                            </vaadin-grid-sorter>
                            <vaadin-gird-filter-common aria-label="Code" path="name" value="[[_name]]">
                            </vaadin-gird-filter-common>
                        </template>
                        <template>[[item.name]]</template>
                    </vaadin-grid-column>
                </vaadin-grid>-->
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
            </gl-grid-col>
        </gl-grid-row>
        <div class="horizontal end-justified layout">
            <div class="button">
                <paper-button raised on-tap="_cancel" hidden="{{btnState}}">คืนค่าข้อมูล</paper-button>
                <paper-button class="gl-btn-success" raised on-tap="_save" hidden="{{btnState}}">บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'manage-group-item',
            behaviors: [nylonBehavior, ReduxBehavior, ValidateFormBehavior],
            properties: {
                data: {
                    statePath: 'groupItem.data',
                    // val: {}
                    // observer: 'setData'
                },
                btnState: {
                    statePath: 'commonState.btnState'
                },
                hamonize_list: {
                    statePath: 'hamonize.list',
                    observer: 'setCheckBox'
                },
                country_list: {
                    statePath: 'country.list',
                    observer: 'setCheckBox'
                },
                bank_list: {
                    statePath: 'bank.list',
                    observer: 'setCheckBox'
                },
                buyer_list: {
                    statePath: 'buyer.list',
                    observer: 'setCheckBox'
                },
                carrier_list: {
                    statePath: 'carrier.list',
                    observer: 'setCheckBox'
                },
                continent_list: {
                    statePath: 'continent.list',
                    observer: 'setCheckBox'
                },
                incoterms_list: {
                    statePath: 'incoterms.list',
                    observer: 'setCheckBox'
                },
                notify_party_list: {
                    statePath: 'notify_party.list',
                    observer: 'setCheckBox'
                },
                package_list: {
                    statePath: 'package.list',
                    observer: 'setCheckBox'
                },
                port_list: {
                    statePath: 'port.list',
                    observer: 'setCheckBox'
                },
                ship_list: {
                    statePath: 'ship.list',
                    observer: 'setCheckBox'
                },
                shipline_list: {
                    statePath: 'shipline.list',
                    observer: 'setCheckBox'
                },
                surveyor_list: {
                    statePath: 'surveyor.list',
                    observer: 'setCheckBox'
                },
                dataList: {
                    type: Array
                },
                dataUSe: {
                    type: Array,
                    observer: 'setData'
                },
                name: {
                    type: Object
                },
                checker: {
                    type: Boolean,
                    value: false
                },
                columns: Array,
            },
            observers: [
                'setName(dataList,name,data)',
            ],
            setData(data) {
                // console.log(data)
            },
            setCheckBox(data) {
                try {
                    // console.log(this.name);
                    if (this.name !== undefined) {
                        switch (this.name.table) {
                            case 'bank':
                                this.set('dataList', this.bank_list)
                                break;
                            case 'buyer':
                                this.set('dataList', this.buyer_list)
                                break;
                            case 'carrier':
                                this.set('dataList', this.carrier_list)
                                break;
                            case 'continent':
                                this.set('dataList', this.continent_list)
                                break;
                            case 'country':
                                this.set('dataList', this.country_list)
                                break;
                            case 'hamonize':
                                this.set('dataList', this.hamonize_list)
                                break;
                            case 'incoterms':
                                this.set('dataList', this.incoterms_list)
                                break;
                            case 'notify_party':
                                this.set('dataList', this.notify_party_list)
                                break;
                            case 'package':
                                this.set('dataList', this.package_list)
                                break;
                            case 'port':
                                this.set('dataList', this.port_list)
                                break;
                            case 'ship':
                                this.set('dataList', this.ship_list)
                                break;
                            case 'shipline':
                                this.set('dataList', this.shipline_list)
                                break;
                            case 'surveyor':
                                this.set('dataList', this.surveyor_list)
                                break;
                            default:
                                console.log('NOT FOUND');
                                break;
                        }
                        // console.log(this.dataList);
                        return data
                    }
                } catch (e) {
                    // console.log(e);
                }


            },
            setName(data, name, dataOld) {
                try {
                    if (data.length > 0) {
                        // var t0 = performance.now();
                        // console.log(data);
                        // console.log(name);
                        // console.log(dataOld);
                        let arr = [],
                            obj = {},
                            havecode = false,
                            name_id = '',
                            columns = ['sub_code']
                        for (let index = 0; index < data.length; index++) {
                            for (let index2 = 0; index2 < name.name.length; index2++) {
                                // console.log(data[index][name.name[index2].id]);
                                // obj.name = obj.name + ' ' + data[index][name.name[index2].id]
                                obj[name.name[index2].id] = data[index][name.name[index2].id]
                            }
                            name_id = name.field_id

                            if (name_id === "id") {
                                name_id = name.table + '_' + name.field_id
                            }

                            obj.sub_code = data[index][name_id]
                            obj.sub_id = data[index][name.table + '_id']

                            if (dataOld.sub !== undefined) {
                                for (let index3 = 0; index3 < dataOld.sub.length; index3++) {
                                    if (obj.sub_id === dataOld.sub[index3].sub_id) {
                                        this.$.material.selectItem(obj)
                                        obj.check = true
                                        // console.log(1);
                                        // console.log(obj)
                                        break;
                                    } else {
                                        obj.check = false
                                    }
                                }
                            } else {
                                obj.check = false
                            }

                            arr.push(obj)
                            obj = {}
                        }

                        name.name.map((item) => {
                            columns.push(item.id)
                        })
                        // for (var index = 0; index < data.length; index++) {
                        //     for (var index2 = 0; index2 < name.name.length; index2++) {
                        //         obj[name.name[index2].id] = data[index][name.name[index2].id]
                        //         console.log(name.name[index2].id)
                        //     }
                        //     name_id = name.field_id
                        //     if (name_id === "id") {
                        //         name_id = name.table + '_' + name.field_id
                        //     }
                        //     obj.sub_code = data[index][name_id]
                        //     obj.sub_id = data[index][name.table + '_id']
                        //     obj.check = false
                        //     console.log(2222222);
                        //     // if (dataOld !== '' && dataOld.sub.find((item) => obj.sub_id === item.sub_id) !== undefined){
                        //     //     obj.check = true
                        //     // }
                        //     console.log(3333333);
                        //     // console.log(name.name);
                        //     console.log(obj);
                        //     arr.push(obj)
                        //     obj = {}
                        // }
                        // console.log(121212);
                        // var t1 = performance.now();
                        // console.log("Call to doSomething took " + (t1 - t0) + " milliseconds.");
                        // console.log(arr);

                        this.set('columns', columns)
                        // console.log(columns);
                        this.set('dataUse', arr)
                        // console.log(this.dataUse)
                    }
                } catch (e) {
                    // console.log(e);
                }

            },
            setLowper() {
                this.set('data.code', this.data.code.toLowerCase())
                // console.log(this.data.code);
            },
            _save: function () {
                // console.log(this.$.material.selectedItems);
                // let codeListTrue = this.$.material.selectedItems
                let codeListTrue = this.dataUse.filter((check) => check.check === true)
                // console.log(codeListTrue);

                let newList = codeListTrue.map((item) => {
                    // console.log(item);
                    return {
                        sub_id: item.sub_id
                    }
                })
                this.data.sub = newList
                this.data.table = this.name.table
                this.data.group_id = this.name.group_id
                // console.log(this.data);
                if (this.validateForm('.required')) {
                    if (this.statusAction == 'edit') {
                        // console.log(this.data);
                        this.dispatchAction('GROUP_ITEM_EDIT', this.data);
                        // this.dispatchAction('BTN_SET_STATE', true);
                    }
                    else {
                        // console.log(this.data);
                        this.dispatchAction('GROUP_ITEM_INSERT', this.data);
                    }
                }
            },
            _checkStatus: function (val) {
                // console.log();
                if (val != 'add') {
                    return true
                }
            },
            _cancel: function () {
                if (this.statusAction == 'edit') {
                    this.fire('toast', {
                        status: 'openDialog',
                        text: 'ต้องการยกเลิกการแก้ไขข้อมูลใช่หรือไม่ ?',
                        confirmed: (result) => {
                            if (result == true) {
                                this.dispatchAction('GROUP_ITEM_GET_ID', this.data.sub_group_id, this.name);
                                this.dispatchAction('BTN_SET_STATE', true);
                            }
                        }
                    })
                    // this.dispatchAction('HAMONIZE_GET_ID', this.group_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                    this.statusCheck = false
                    this.dataUse.map((set, index) => {
                        this.set('dataUse.' + index + '.check', this.statusCheck)
                    })
                }
            },
            selectAll(e) {
                // this.dataUse.map((set, index) => {
                //     if (this.statusCheck) {
                //         this.$.material.selectItem(set)
                //     } else {
                //         this.$.material.deselectItem(set)
                //     }
                //     // this.set('dataUse.' + index + '.check', this.statusCheck)
                // })
                this.fire('toast', { status: 'load', text: 'กำลังทำงาน...' })

                this.async(() => {
                    let selectAllItem = new Promise((res, rej) => {
                        this.dataUse.map((set, index) => {
                            // if (this.statusCheck) {
                            //     this.$.material.selectItem(set)
                            // } else {
                            //     this.$.material.deselectItem(set)
                            // }
                            this.set('dataUse.' + index + '.check', this.statusCheck)
                        })
                        res("fin")
                    })
                    selectAllItem.then((res) => {
                        // console.log(1111);
                        this.fire('toast', {
                            status: 'success', text: 'ทำงานสำเร็จ', callback: () => {
                                // console.log(res)
                            }
                        })
                    })
                    .catch((err)=>{
                        this.fire('toast', {
                            status: 'connectError', text: err, callback: () => {
                                // console.log(err)
                            }
                        })
                        
                    })

                }, 100)

            },
            // checkItem(statusCheck,check,item,index){
            //     let setDate = statusCheck !== check
            //     // if (check) {
            //         // console.log('เจอ');
            //         // item.check = false
            //         // this.set('dataUse.' + index + '.check', false)
            //     // }
            //     // this.$.material.selectItem(item)
            //     // console.log(setDate)
            //     return setDate
            //     // console.log(statusCheck,check);
            // }
        });
    </script>
</dom-module>