<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="./../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-column.html">

<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/vaadin-gird-filter-common.html">

<link rel="import" href="../../../redux-behavior.html">

<link rel="import" href="../../../dispatchAction-behavior.html">

<link rel="import" href="../../../nylon-behavior.html">

<link rel="import" href="../../../layout/page-style.html">


<dom-module id="manage-group-item">
    <template>
        <style include="page-style iron-flex iron-flex-factors iron-flex-alignment gl-table page-style">
            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: var(--font-size-h5);
                text-align: left;
            }

            .text-center {
                text-align: center;
                font-size: var(--font-size-h3);
                background-color: var(--paper-grey-100);
                margin-top: 20px;
            }

            paper-icon-button.crud:hover {
                background-color: var(--paper-grey-200);
                border-radius: 5px;
                box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, .2);
            }

            table.gl-table-default {
                border: 1px solid #ddd;
            }

            table.gl-table-default>tbody.table-body>tr>td {
                /*cursor: pointer;*/
                padding: 10px 15px;
            }

            paper-dropdown-menu,
            paper-listbox,
            paper-item {
                width: 100%;
            }

            div.main {
                /*background-color: red;*/
                height: 300px;
                overflow-y: scroll;
                /*min-width: 300px;*/
                border: solid darkblue 1px;
            }

            span.namesub {
                display: inline-block;
                /*background-color: blue;*/
                width: 70%;
            }

            span.year {
                display: inline-block;
                width: 20%;
                /*background-color: red;*/
                /*display: inline;*/
                /*float: right;*/
            }

            .collapse-content {
                padding: 15px;
                width: 500px;
                border: 1px solid #dedede;
            }

            .header-item {
                border: 1px solid #ddd;
                background-color: #F1F1F1;
                padding: 15px;
            }

            .subdiv {
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;
                height: 300px;
                overflow-y: scroll;
            }

            .main-item,
            .sub-item {
                padding: 15px 0px;
                /*border: 1px solid #ddd;*/
                border-bottom: 1px solid #ddd;
            }

            .main-item:hover,
            .sub-item:hover {
                background-color: #F1F1F1;
            }

            .sub-item {
                padding-left: 60px;
            }

            paper-icon-button .hamonize {
                margin-top: -50px;
            }

            paper-dialog.size-position {
                width: 800px;
                height: 550px;
                overflow: auto;
            }

            tbody {
                display: block;
                height: 400px;
                max-height: 400px;
                overflow-y: scroll;
            }

            thead,
            tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

            table {
                height: 380px;
            }
        </style>
        <div class="text-center">{{title}}กลุ่ม</div>
        <template is="dom-if" if={{_checkStatus(statusAction)}}>
            <icon-button-management btn-state="[[!btnState]]"></icon-button-management>
        </template>
        <!--{{statusAction}}///[[_checkStatus(statusAction)]]-->

        <div class="horizontal start-justified layout">
            <div class="flex"></div>
            <div class="flex flex-padding">
                <gl-form-input class="margin-top  required" required label="CODE กลุ่ม :" placeholder="CODE กลุ่ม" value="{{data.id}}" disabled="[[setDisabled]]"></gl-form-input>
            </div>
            <div class="flex"></div>
        </div>

        <div class="horizontal start-justified layout">
            <div class="flex"></div>
            <div class="flex flex-padding">
                <gl-form-input class="margin-top  required" required error-message="ชื่อ (ไทย)" label="ชื่อ (ไทย) :" placeholder="ชื่อ (ไทย)"
                    value="{{data.name_th}}" disabled="[[btnState]]"></gl-form-input>
            </div>
            <div class="flex"></div>
        </div>

        <div class="horizontal start-justified layout">
            <div class="flex"></div>
            <div class="flex flex-padding">
                <gl-form-input class="margin-top  required" required error-message="ชื่อ (อังกฤษ)" label="ชื่อ (อังกฤษ) :" placeholder="ชื่อ(อังกฤษ)"
                    value="{{data.name_en}}" disabled="[[btnState]]"></gl-form-input>
            </div>
            <div class="flex"></div>
        </div>

        <div class="horizontal end-justified layout">
            <div class="flex-7"></div>
            <div class="flex-5 flex-padding">
                <paper-button raised on-tap="addItemTotable" class="gl-btn-primary" hidden="[[btnState]]">เลือก</paper-button>
                <paper-button raised on-tap="DeleteAllItemTotable" class="gl-btn-danger" hidden="[[btnState]]">ลบทั้งหมด</paper-button>
            </div>
            <!-- <div class="flex"></div> -->
        </div>

        <div class="horizontal end-justified layout">
            <div class="flex"></div>
            <div class="flex-10 flex-padding">
                <table class="gl-table-default">
                    <thead class="table-head">
                        <tr>
                            <template is="dom-repeat" items={{columns}}>
                                <th style="width:20%">[[item]]</th>
                            </template>
                            <th style="width:10%">#</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <template is="dom-repeat" items="{{data.sub}}" as="main">
                            <tr>
                                <template is="dom-repeat" items={{columns}}>
                                    <td style="width:20%">[[_showData(main,item)]]</td>
                                </template>
                                <td style="width:10%">
                                    <div hidden="[[btnState]]">
                                        <paper-icon-button class="crud" data="{{main}}" icon="delete" disabled="[[btnState]]" on-tap="_deleteItem"></paper-icon-button>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        <template is="dom-if" if="[[_isShow(data.sub,data.sub.*)]]">
                            <tr>
                                <td colspan="5" style="text-align: center;">ไม่มีข้อมูล</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div class="flex"></div>
        </div>



        <div class="horizontal end-justified layout">
            <div class="button">
                <paper-button raised on-tap="_cancel" hidden="{{btnState}}">คืนค่าข้อมูล</paper-button>
                <paper-button class="gl-btn-success" raised on-tap="_save" hidden="{{btnState}}">บันทึก</paper-button>
            </div>
        </div>

        <paper-dialog id="itemGroup" class="size-position">
            <h2>รายชื่อรายการ</h2>
            <paper-dialog-scrollable>
                <div name="list">
                    <div class="horizontal layout header-item" warp>
                        <div class="header-div flex"></div>
                        <template is="dom-repeat" items={{columns}}>
                            <div class="header-div flex-3" style="padding-right:15px;">
                                <gl-form-input label="[[item]]" id="input_[[item]]" always-float-label type="search" on-value-changed="searchItem"></gl-form-input>
                            </div>
                        </template>
                    </div>
                    <div class="subdiv">
                        <template is="dom-repeat" items={{dataUse}} index-as="indexroot" as="main">
                            <div hidden="{{main.hidden}}">
                                <div class="horizontal layout main-item">
                                    <div class="row flex">
                                        <paper-checkbox style="padding-left:25px;" id="{{indexroot}}" checked="{{main.check}}" disabled="[[commonState.btnDisabled]]">
                                    </div>
                                    <template is="dom-repeat" items={{columns}}>
                                        <div class="row flex-3">[[_showData(main,item)]]</div>
                                    </template>
                                </div>
                        </template>
                        </div>
                    </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-confirm autofocus raised on-tap="checkAddItem">ปิด</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'manage-group-item',
            behaviors: [nylonBehavior, ReduxBehavior, ValidateFormBehavior],
            properties: {
                data: {
                    statePath: 'groupItem.data',
                    // val: {}
                    // observer: 'setData'
                },
                setDisabled: {
                    type: Boolean,
                    value: false
                },
                btnState: {
                    statePath: 'commonState.btnState'
                },
                hamonize_list: {
                    statePath: 'hamonize.list',
                    observer: 'setDataList'
                },
                country_list: {
                    statePath: 'country.list',
                    observer: 'setDataList'
                },
                bank_list: {
                    statePath: 'bank.list',
                    observer: 'setDataList'
                },
                buyer_list: {
                    statePath: 'buyer.list',
                    observer: 'setDataList'
                },
                carrier_list: {
                    statePath: 'carrier.list',
                    observer: 'setDataList'
                },
                continent_list: {
                    statePath: 'continent.list',
                    observer: 'setDataList'
                },
                incoterms_list: {
                    statePath: 'incoterms.list',
                    observer: 'setDataList'
                },
                notify_party_list: {
                    statePath: 'notify_party.list',
                    observer: 'setDataList'
                },
                package_list: {
                    statePath: 'package.list',
                    observer: 'setDataList'
                },
                port_list: {
                    statePath: 'port.list',
                    observer: 'setDataList'
                },
                ship_list: {
                    statePath: 'ship.list',
                    observer: 'setDataList'
                },
                shipline_list: {
                    statePath: 'shipline.list',
                    observer: 'setDataList'
                },
                surveyor_list: {
                    statePath: 'surveyor.list',
                    observer: 'setDataList'
                },
                dataList: {
                    type: Array
                },
                dataUse: {
                    type: Array,
                    observer: 'setData'
                },
                name: {
                    type: Object
                },
                checker: {
                    type: Boolean,
                    value: false
                },
                columns: Array,
            },
            observers: [
                'setName(dataList,name,data)',
                'seInit(name,data)',
            ],
            setData(data) {
                // console.log(data)
            },
            _showData(main, item) {
                // console.log(main);
                return main[item]
            },
            setDataList(data) {
                try {
                    // console.log(111)
                    // console.log(this.name);
                    if (this.name !== undefined) {
                        switch (this.name.table_name) {
                            case 'bank':
                                this.set('dataList', this.bank_list)
                                break;
                            case 'buyer':
                                this.set('dataList', this.buyer_list)
                                break;
                            case 'carrier':
                                this.set('dataList', this.carrier_list)
                                break;
                            case 'continent':
                                this.set('dataList', this.continent_list)
                                break;
                            case 'country':
                                this.set('dataList', this.country_list)
                                break;
                            case 'hamonize':
                                this.set('dataList', this.hamonize_list)
                                break;
                            case 'incoterms':
                                this.set('dataList', this.incoterms_list)
                                break;
                            case 'notify_party':
                                this.set('dataList', this.notify_party_list)
                                break;
                            case 'package':
                                this.set('dataList', this.package_list)
                                break;
                            case 'port':
                                this.set('dataList', this.port_list)
                                break;
                            case 'ship':
                                this.set('dataList', this.ship_list)
                                break;
                            case 'shipline':
                                this.set('dataList', this.shipline_list)
                                break;
                            case 'surveyor':
                                this.set('dataList', this.surveyor_list)
                                break;
                            default:
                                // console.log('NOT FOUND');
                                break;
                        }
                        // console.log(this.dataList);
                        return data
                    }
                } catch (e) {
                    // console.log(e);
                }


            },
            seInit(name, data) {
                this.set('setDisabled', false)
                if (data.hasOwnProperty('id'))
                    this.set('setDisabled', true)

                if (!data.hasOwnProperty('id')) {
                    this.set('data.id', name.group_id + '_')
                }
            },
            setName(data, name, dataOld) {
                // try {
                // console.log(dataOld);
                if (data !== undefined && data !== '' && data !== {} && dataOld.id !== 'undefined_') {
                    if (data.length > 0) {
                        let arr = [],
                            obj = {},
                            havecode = false,
                            name_id = '',
                            columns = []
                        for (let index = 0; index < data.length; index++) {
                            for (let index2 = 0; index2 < name.fields.length; index2++) {
                                // console.log(data[index][name.fields[index2]]);
                                // obj.name = obj.name + ' ' + data[index][name.name[index2].id]
                                obj[name.fields[index2].field] = data[index][name.fields[index2].field]
                            }
                            obj.id = data[index][name.table_name + '_id']
                            if (dataOld.sub !== undefined) {
                                // console.log(1);
                                let result = dataOld.sub.find(item => item.sub_id === obj.id)
                                obj.check = (result !== undefined ? true : false)
                            } else {
                                obj.check = false
                            }
                            obj.hidden = false
                            // console.log(obj);
                            arr.push(obj)
                            obj = {}
                        }
                        name.fields.map((item) => {
                            columns.push(item.field)
                        })
                        this.set('columns', columns)
                        // console.log(columns)
                        this.set('dataUse', arr)
                        // console.log(this.dataUse)
                    }

                }

            },
            checkAddItem() {
                this.setItem(this.dataUse)
            },

            setItem: function (dataUse) {
                let items = dataUse.filter(item => item.check === true)
                this.set('data.sub', items)
            },
            _deleteItem(e) {
                // let deleteBtn = e.currentTarget.data.id
                this._deleteSeleredItem(e.currentTarget.data.id)

            },
            _deleteSeleredItem(id) {
                let index = this.dataUse.findIndex(item => item.id === id)
                this.dataUse[index].check = false
                this.notifyPath('dataUse'+[index],false)
                this.set('dataUse.'+[index]+'.check',false)
                this.debounce('setDataSub', () => {
                    this.setItem(this.dataUse)
                }, 100)
            },
            searchItem(e) {
                let data = {},
                    countPropertity = 0
                for (var index = 0; index < this.columns.length; index++) {
                    var element = this.columns[index]
                    let inputElement = 'input_' + element
                    if (Polymer.dom(this.root).querySelector('#' + inputElement) !== undefined &&
                        Polymer.dom(this.root).querySelector('#' + inputElement) !== null &&
                        Polymer.dom(this.root).querySelector('#' + inputElement).value !== '') {
                        data[element] = Polymer.dom(this.root).querySelector('#' + inputElement).value
                        countPropertity++
                    }
                }
                if (countPropertity > 0) {
                    const checkIsHave = (data, index, properties) => {
                        // console.log(data,index,properties);
                        let arrIsTrue = []
                        for (var key in properties) {
                            if (properties.hasOwnProperty(key)) {
                                let prop = properties[key]
                                let str1 = String(data[index][key]),
                                    str2 = String(properties[key])
                                // gเช็ดดว่าเป็นภาษาอังกฏษเปล่า
                                if (/^[a-zA-Z]+$/.test(String(properties[key]))) {
                                    str1 = str1.toLowerCase()
                                    str2 = str2.toLowerCase()
                                }
                                arrIsTrue.push(str1.search(str2.toLowerCase()) > -1 ? false : true)
                            }
                        }
                        return arrIsTrue.every(elem => elem == true)
                    }
                    this.dataUse.map((item, index) => {
                        this.set('dataUse.' + index + '.hidden', checkIsHave(this.dataUse, [index], data))
                    })
                }
            },
            setLowper() {
                this.set('data.code', this.data.code.toLowerCase())
                // console.log(this.data.code);
            },
            _isShow: function (data, dataLoop) {
                try {
                    let resulte = data.every((item) => item.hidden === true)
                    // console.log(resulte);
                    return resulte
                } catch (error) {

                }
            },
            _save: function () {
                // console.log(this.$.material.selectedItems);
                // let codeListTrue = this.$.material.selectedItems
                let codeListTrue = this.dataUse.filter((check) => check.check === true)
                // console.log(codeListTrue);

                let newList = codeListTrue.map((item) => {
                    // console.log(item);
                    return {
                        sub_id: item.id
                    }
                })
                this.data.sub = newList
                this.data.table_name = this.name.table_name
                this.data.group_id = this.name.group_id
                // console.log(this.data);
                if (this.validateForm('.required')) {
                    if (this.statusAction == 'edit') {
                        // console.log(this.data);
                        this.dispatchAction('GROUP_ITEM_EDIT', this.data);
                        // this.dispatchAction('BTN_SET_STATE', true);
                    }
                    else {
                        // console.log(this.data);
                        this.dispatchAction('GROUP_ITEM_INSERT', this.data);
                    }
                }
            },
            _checkStatus: function (val) {
                // console.log();
                if (val != 'add') {
                    return true
                }
            },
            _cancel: function () {
                if (this.statusAction == 'edit') {
                    this.fire('toast', {
                        status: 'openDialog',
                        text: 'ต้องการยกเลิกการแก้ไขข้อมูลใช่หรือไม่ ?',
                        confirmed: (result) => {
                            if (result == true) {
                                this.dispatchAction('GROUP_ITEM_GET_ID', this.data.sub_group_id, this.name);
                                this.dispatchAction('BTN_SET_STATE', true);
                            }
                        }
                    })
                    // this.dispatchAction('HAMONIZE_GET_ID', this.group_id);
                }
                else {
                    this.dispatchAction('CLEAR_DATA');
                    this.statusCheck = false
                    this.dataUse.map((set, index) => {
                        this.set('dataUse.' + index + '.check', this.statusCheck)
                    })
                }
            },
            selectAll(e) {
                // this.dataUse.map((set, index) => {
                //     if (this.statusCheck) {
                //         this.$.material.selectItem(set)
                //     } else {
                //         this.$.material.deselectItem(set)
                //     }
                //     // this.set('dataUse.' + index + '.check', this.statusCheck)
                // })
                this.fire('toast', { status: 'load', text: 'กำลังทำงาน...' })

                this.async(() => {
                    let selectAllItem = new Promise((res, rej) => {
                        this.dataUse.map((set, index) => {
                            // if (this.statusCheck) {
                            //     this.$.material.selectItem(set)
                            // } else {
                            //     this.$.material.deselectItem(set)
                            // }
                            this.set('dataUse.' + index + '.check', this.statusCheck)
                        })
                        res("fin")
                    })
                    selectAllItem.then((res) => {
                        // console.log(1111);
                        this.fire('toast', {
                            status: 'success', text: 'ทำงานสำเร็จ', callback: () => {
                                // console.log(res)
                            }
                        })
                    })
                        .catch((err) => {
                            this.fire('toast', {
                                status: 'connectError', text: err, callback: () => {
                                    // console.log(err)
                                }
                            })

                        })

                }, 100)

            },
            addItemTotable() {
                this.$.itemGroup.open()
            },
            DeleteAllItemTotable() {
                this.data.sub.map((item) => {
                    this._deleteSeleredItem(item.id)
                })
                console.log(this.dataUse);
            }
            // checkItem(statusCheck,check,item,index){
            //     let setDate = statusCheck !== check
            //     // if (check) {
            //         // console.log('เจอ');
            //         // item.check = false
            //         // this.set('dataUse.' + index + '.check', false)
            //     // }
            //     // this.$.material.selectItem(item)
            //     // console.log(setDate)
            //     return setDate
            //     // console.log(statusCheck,check);
            // }
        });
    </script>
</dom-module>